.DS_Store
assignment1/.vs/assignment1/v16/.suo
assignment1/.vs/assignment1/v16/Browse.VC.db
assignment1/.vs/assignment1/v16/ipch/AutoPCH/54a85b484eec7f82/MAIN.ipch
assignment1/.vs/assignment1/v16/ipch/AutoPCH/7f276c78bc474adc/GUI_UTILS.ipch
assignment1/.vs/assignment1/v16/ipch/AutoPCH/80fa5d4fe05b0432/MAIN.ipch
assignment1/.vs/assignment1/v16/ipch/AutoPCH/b151907da24d56cc/MAIN.ipch
assignment1/.vs/assignment1/v16/ipch/AutoPCH/bed173e74708d9f/NEW_SCALAR.ipch
assignment1/.vs/CMake Overview
assignment1/.vs/ProjectSettings.json
assignment1/.vs/slnx.sqlite
assignment1/.vs/VSWorkspaceState.json
assignment1/Build/ALL_BUILD.vcxproj
assignment1/Build/ALL_BUILD.vcxproj.filters
assignment1/Build/assignment1.sln
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.exe.recipe
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/assignment1_bin.lastbuildstate
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/CL.command.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/CL.read.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/CL.write.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/CustomBuild.command.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/CustomBuild.read.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/CustomBuild.write.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/link.command.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/link.read.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/assignment1_bin.tlog/link.write.1.tlog
assignment1/Build/assignment1_bin.dir/Debug/gui_utils.obj
assignment1/Build/assignment1_bin.dir/Debug/main.obj
assignment1/Build/assignment1_bin.dir/Debug/vc142.pdb
assignment1/Build/assignment1_bin.exe
assignment1/Build/assignment1_bin.ilk
assignment1/Build/assignment1_bin.pdb
assignment1/Build/assignment1_bin.vcxproj
assignment1/Build/assignment1_bin.vcxproj.filters
assignment1/Build/CMakeFiles/1330db96d3788a28c460a98615d4daa6/INSTALL_force.rule
assignment1/Build/CMakeFiles/3.19.0-rc1/CMakeCCompiler.cmake
assignment1/Build/CMakeFiles/3.19.0-rc1/CMakeCXXCompiler.cmake
assignment1/Build/CMakeFiles/3.19.0-rc1/CMakeDetermineCompilerABI_C.bin
assignment1/Build/CMakeFiles/3.19.0-rc1/CMakeDetermineCompilerABI_CXX.bin
assignment1/Build/CMakeFiles/3.19.0-rc1/CMakeRCCompiler.cmake
assignment1/Build/CMakeFiles/3.19.0-rc1/CMakeSystem.cmake
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/CMakeCCompilerId.c
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/CompilerIdC.exe
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/CompilerIdC.vcxproj
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CMakeCCompilerId.obj
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CompilerIdC.exe.recipe
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
assignment1/Build/CMakeFiles/3.19.0-rc1/VCTargetsPath.txt
assignment1/Build/CMakeFiles/3.19.0-rc1/VCTargetsPath.vcxproj
assignment1/Build/CMakeFiles/3.19.0-rc1/x64/Debug/VCTargetsPath.recipe
assignment1/Build/CMakeFiles/3.19.0-rc1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
assignment1/Build/CMakeFiles/62ac9bfae106dae84cde93cbced42ede/INSTALL_force.rule
assignment1/Build/CMakeFiles/6bc6a8869f6923eec4fc098e4e995ded/generate.stamp.rule
assignment1/Build/CMakeFiles/6bc6a8869f6923eec4fc098e4e995ded/INSTALL_force.rule
assignment1/Build/CMakeFiles/6e8216fc4b1d496299911ad5b013f295/INSTALL_force.rule
assignment1/Build/CMakeFiles/CMakeError.log
assignment1/Build/CMakeFiles/Export/share/libigl/cmake/libigl-export.cmake
assignment1/Build/CMakeFiles/fe106d310a2b22cd0ce8b959e95c9815/INSTALL_force.rule
assignment1/Build/CMakeFiles/generate.stamp
assignment1/Build/CMakeFiles/generate.stamp.depend
assignment1/Build/CMakeFiles/generate.stamp.list
assignment1/Build/glad/ALL_BUILD.vcxproj
assignment1/Build/glad/ALL_BUILD.vcxproj.filters
assignment1/Build/glad/cmake_install.cmake
assignment1/Build/glad/CMakeFiles/generate.stamp
assignment1/Build/glad/CMakeFiles/generate.stamp.depend
assignment1/Build/glad/Debug/glad.lib
assignment1/Build/glad/Debug/glad.pdb
assignment1/Build/glad/glad.dir/Debug/glad.lib.recipe
assignment1/Build/glad/glad.dir/Debug/glad.obj
assignment1/Build/glad/glad.dir/Debug/glad.pdb
assignment1/Build/glad/glad.dir/Debug/glad.tlog/CL.command.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.tlog/CL.read.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.tlog/CL.write.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.tlog/CustomBuild.command.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.tlog/CustomBuild.read.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.tlog/CustomBuild.write.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.tlog/glad.lastbuildstate
assignment1/Build/glad/glad.dir/Debug/glad.tlog/Lib-link.read.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.tlog/Lib-link.write.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.tlog/Lib.command.1.tlog
assignment1/Build/glad/glad.dir/Debug/glad.vcxproj.FileListAbsolute.txt
assignment1/Build/glad/glad.sln
assignment1/Build/glad/glad.vcxproj
assignment1/Build/glad/glad.vcxproj.filters
assignment1/Build/glad/INSTALL.vcxproj
assignment1/Build/glad/INSTALL.vcxproj.filters
assignment1/Build/glfw/ALL_BUILD.vcxproj
assignment1/Build/glfw/ALL_BUILD.vcxproj.filters
assignment1/Build/glfw/cmake_install.cmake
assignment1/Build/glfw/CMakeFiles/generate.stamp
assignment1/Build/glfw/CMakeFiles/generate.stamp.depend
assignment1/Build/glfw/GLFW.sln
assignment1/Build/glfw/INSTALL.vcxproj
assignment1/Build/glfw/INSTALL.vcxproj.filters
assignment1/Build/glfw/src/cmake_install.cmake
assignment1/Build/glfw/src/CMakeFiles/generate.stamp
assignment1/Build/glfw/src/CMakeFiles/generate.stamp.depend
assignment1/Build/glfw/src/Debug/glfw3.lib
assignment1/Build/glfw/src/glfw.dir/Debug/context.obj
assignment1/Build/glfw/src/glfw.dir/Debug/egl_context.obj
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.pdb
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/CL.command.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/CL.read.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/CL.write.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.command.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.read.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.write.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/glfw.lastbuildstate
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.read.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.write.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw.tlog/Lib.command.1.tlog
assignment1/Build/glfw/src/glfw.dir/Debug/glfw3.lib.recipe
assignment1/Build/glfw/src/glfw.dir/Debug/init.obj
assignment1/Build/glfw/src/glfw.dir/Debug/input.obj
assignment1/Build/glfw/src/glfw.dir/Debug/monitor.obj
assignment1/Build/glfw/src/glfw.dir/Debug/osmesa_context.obj
assignment1/Build/glfw/src/glfw.dir/Debug/vulkan.obj
assignment1/Build/glfw/src/glfw.dir/Debug/wgl_context.obj
assignment1/Build/glfw/src/glfw.dir/Debug/win32_init.obj
assignment1/Build/glfw/src/glfw.dir/Debug/win32_joystick.obj
assignment1/Build/glfw/src/glfw.dir/Debug/win32_monitor.obj
assignment1/Build/glfw/src/glfw.dir/Debug/win32_thread.obj
assignment1/Build/glfw/src/glfw.dir/Debug/win32_time.obj
assignment1/Build/glfw/src/glfw.dir/Debug/win32_window.obj
assignment1/Build/glfw/src/glfw.dir/Debug/window.obj
assignment1/Build/glfw/src/glfw.vcxproj
assignment1/Build/glfw/src/glfw.vcxproj.filters
assignment1/Build/glfw/src/glfw3.pc
assignment1/Build/glfw/src/glfw3Config.cmake
assignment1/Build/glfw/src/glfw3ConfigVersion.cmake
assignment1/Build/glfw/src/glfw_config.h
assignment1/Build/glfw/src/INSTALL.vcxproj
assignment1/Build/glfw/src/INSTALL.vcxproj.filters
assignment1/Build/imgui/cmake_install.cmake
assignment1/Build/imgui/CMakeFiles/generate.stamp
assignment1/Build/imgui/CMakeFiles/generate.stamp.depend
assignment1/Build/imgui/Debug/imgui.lib
assignment1/Build/imgui/Debug/imgui.pdb
assignment1/Build/imgui/imgui.dir/Debug/imgui.lib.recipe
assignment1/Build/imgui/imgui.dir/Debug/imgui.obj
assignment1/Build/imgui/imgui.dir/Debug/imgui.pdb
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/CL.command.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/CL.read.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/CL.write.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/CustomBuild.command.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/CustomBuild.read.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/CustomBuild.write.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/imgui.lastbuildstate
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/Lib-link.read.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/Lib-link.write.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.tlog/Lib.command.1.tlog
assignment1/Build/imgui/imgui.dir/Debug/imgui.vcxproj.FileListAbsolute.txt
assignment1/Build/imgui/imgui.dir/Debug/imgui_demo.obj
assignment1/Build/imgui/imgui.dir/Debug/imgui_draw.obj
assignment1/Build/imgui/imgui.dir/Debug/imgui_impl_glfw.obj
assignment1/Build/imgui/imgui.dir/Debug/imgui_impl_opengl3.obj
assignment1/Build/imgui/imgui.vcxproj
assignment1/Build/imgui/imgui.vcxproj.filters
assignment1/Build/imgui/INSTALL.vcxproj
assignment1/Build/imgui/INSTALL.vcxproj.filters
assignment1/Build/INSTALL.vcxproj
assignment1/Build/INSTALL.vcxproj.filters
assignment1/Build/libigl-config.cmake
assignment1/Build/libigl-export.cmake
assignment1/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
assignment1/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
assignment1/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
assignment1/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
assignment1/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
assignment1/Build/ZERO_CHECK.vcxproj
assignment1/Build/ZERO_CHECK.vcxproj.filters
assignment1/CMakeSettings.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/reply/cache-v2-231452089820298ef977.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/reply/cmakeFiles-v1-8085264ab3aedf9131af.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/reply/codemodel-v2-39fcc409d6f5a7914b42.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/reply/index-2021-03-04T15-03-53-0821.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-assignment1_bin-Debug-af0b47604d872831c3bc.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-glad-Debug-a2bc5fa18424f6ebaa37.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-glfw-Debug-9de3ce6a8c949ab69038.json
assignment1/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-imgui-Debug-6a999a22ac58f8940939.json
assignment1/out/build/x64-Debug (default)/build.ninja
assignment1/out/build/x64-Debug (default)/cmake_install.cmake
assignment1/out/build/x64-Debug (default)/CMakeCache.txt
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCCompiler.cmake
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCXXCompiler.cmake
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeRCCompiler.cmake
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeSystem.cmake
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
assignment1/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
assignment1/out/build/x64-Debug (default)/CMakeFiles/cmake.check_cache
assignment1/out/build/x64-Debug (default)/CMakeFiles/CMakeError.log
assignment1/out/build/x64-Debug (default)/CMakeFiles/CMakeOutput.log
assignment1/out/build/x64-Debug (default)/CMakeFiles/Export/share/libigl/cmake/libigl-export.cmake
assignment1/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/foo.h
assignment1/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.c
assignment1/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.obj
assignment1/out/build/x64-Debug (default)/CMakeFiles/TargetDirectories.txt
assignment1/out/build/x64-Debug (default)/glad/cmake_install.cmake
assignment1/out/build/x64-Debug (default)/glfw/cmake_install.cmake
assignment1/out/build/x64-Debug (default)/glfw/src/cmake_install.cmake
assignment1/out/build/x64-Debug (default)/glfw/src/glfw3.pc
assignment1/out/build/x64-Debug (default)/glfw/src/glfw3Config.cmake
assignment1/out/build/x64-Debug (default)/glfw/src/glfw3ConfigVersion.cmake
assignment1/out/build/x64-Debug (default)/glfw/src/glfw_config.h
assignment1/out/build/x64-Debug (default)/imgui/cmake_install.cmake
assignment1/out/build/x64-Debug (default)/libigl-config.cmake
assignment1/out/build/x64-Debug (default)/libigl-export.cmake
assignment1/out/build/x64-Debug (default)/rules.ninja
assignment1/out/build/x64-Debug (default)/Testing/Temporary/LastTest.log
assignment1/out/build/x64-Debug (default)/VSInheritEnvironments.txt
assignment1/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
assignment1/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-8e93b485cdfc759de0cf.json
assignment1/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-a60cda79031c3ea99a75.json
assignment1/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-68337a1b10db86a86a16.json
assignment1/out/build/x64-Debug/.cmake/api/v1/reply/index-2021-03-06T15-00-19-0793.json
assignment1/out/build/x64-Debug/.cmake/api/v1/reply/target-assignment1_bin-Debug-af0b47604d872831c3bc.json
assignment1/out/build/x64-Debug/.cmake/api/v1/reply/target-glad-Debug-a2bc5fa18424f6ebaa37.json
assignment1/out/build/x64-Debug/.cmake/api/v1/reply/target-glfw-Debug-0aaec29822025973d5f2.json
assignment1/out/build/x64-Debug/.cmake/api/v1/reply/target-imgui-Debug-6a999a22ac58f8940939.json
assignment1/out/build/x64-Debug/build.ninja
assignment1/out/build/x64-Debug/cmake_install.cmake
assignment1/out/build/x64-Debug/CMakeCache.txt
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeCCompiler.cmake
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeCXXCompiler.cmake
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeRCCompiler.cmake
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeSystem.cmake
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
assignment1/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
assignment1/out/build/x64-Debug/CMakeFiles/cmake.check_cache
assignment1/out/build/x64-Debug/CMakeFiles/CMakeError.log
assignment1/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
assignment1/out/build/x64-Debug/CMakeFiles/Export/share/libigl/cmake/libigl-export.cmake
assignment1/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
assignment1/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
assignment1/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
assignment1/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
assignment1/out/build/x64-Debug/glad/cmake_install.cmake
assignment1/out/build/x64-Debug/glfw/cmake_install.cmake
assignment1/out/build/x64-Debug/glfw/src/cmake_install.cmake
assignment1/out/build/x64-Debug/glfw/src/glfw3.pc
assignment1/out/build/x64-Debug/glfw/src/glfw3Config.cmake
assignment1/out/build/x64-Debug/glfw/src/glfw3ConfigVersion.cmake
assignment1/out/build/x64-Debug/glfw/src/glfw_config.h
assignment1/out/build/x64-Debug/imgui/cmake_install.cmake
assignment1/out/build/x64-Debug/libigl-config.cmake
assignment1/out/build/x64-Debug/libigl-export.cmake
assignment1/out/build/x64-Debug/rules.ninja
assignment1/out/build/x64-Debug/Testing/Temporary/LastTest.log
assignment1/out/build/x64-Debug/VSInheritEnvironments.txt
assignment1/out/build/x64-Release/.cmake/api/v1/query/client-MicrosoftVS/query.json
assignment1/out/build/x64-Release/.cmake/api/v1/reply/cache-v2-60a5587376e16a371d35.json
assignment1/out/build/x64-Release/.cmake/api/v1/reply/cmakeFiles-v1-36079aa6670b1f027549.json
assignment1/out/build/x64-Release/.cmake/api/v1/reply/codemodel-v2-3bdc96b02b681b81c597.json
assignment1/out/build/x64-Release/.cmake/api/v1/reply/index-2021-03-18T07-34-12-0106.json
assignment1/out/build/x64-Release/.cmake/api/v1/reply/target-assignment1_bin-RelWithDebInfo-d73be15dd3350f73b322.json
assignment1/out/build/x64-Release/.cmake/api/v1/reply/target-glad-RelWithDebInfo-1f085dcab294663738e8.json
assignment1/out/build/x64-Release/.cmake/api/v1/reply/target-glfw-RelWithDebInfo-6a67e6f9b721d5852980.json
assignment1/out/build/x64-Release/.cmake/api/v1/reply/target-imgui-RelWithDebInfo-3b793c2e61a92969cfb7.json
assignment1/out/build/x64-Release/build.ninja
assignment1/out/build/x64-Release/cmake_install.cmake
assignment1/out/build/x64-Release/CMakeCache.txt
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CMakeCCompiler.cmake
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CMakeCXXCompiler.cmake
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CMakeRCCompiler.cmake
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CMakeSystem.cmake
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
assignment1/out/build/x64-Release/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
assignment1/out/build/x64-Release/CMakeFiles/cmake.check_cache
assignment1/out/build/x64-Release/CMakeFiles/CMakeError.log
assignment1/out/build/x64-Release/CMakeFiles/CMakeOutput.log
assignment1/out/build/x64-Release/CMakeFiles/Export/share/libigl/cmake/libigl-export.cmake
assignment1/out/build/x64-Release/CMakeFiles/ShowIncludes/foo.h
assignment1/out/build/x64-Release/CMakeFiles/ShowIncludes/main.c
assignment1/out/build/x64-Release/CMakeFiles/ShowIncludes/main.obj
assignment1/out/build/x64-Release/CMakeFiles/TargetDirectories.txt
assignment1/out/build/x64-Release/glad/cmake_install.cmake
assignment1/out/build/x64-Release/glfw/cmake_install.cmake
assignment1/out/build/x64-Release/glfw/src/cmake_install.cmake
assignment1/out/build/x64-Release/glfw/src/glfw3.pc
assignment1/out/build/x64-Release/glfw/src/glfw3Config.cmake
assignment1/out/build/x64-Release/glfw/src/glfw3ConfigVersion.cmake
assignment1/out/build/x64-Release/glfw/src/glfw_config.h
assignment1/out/build/x64-Release/imgui/cmake_install.cmake
assignment1/out/build/x64-Release/libigl-config.cmake
assignment1/out/build/x64-Release/libigl-export.cmake
assignment1/out/build/x64-Release/rules.ninja
assignment1/out/build/x64-Release/Testing/Temporary/LastTest.log
assignment1/out/build/x64-Release/VSInheritEnvironments.txt
